@media only screen and (min-width: 1601px) and (max-width:1920px) {
    .left-content {
        margin-left: -12rem;
    }

    .right-content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1600px) {
    .user-wrapper {
        margin: 0;
        padding: 0 0.5rem;
    }

}

/*Large devices (desktops, less than 1200px)*/
@media screen and (min-width:992px) and (max-width: 1199.98px) {
    .main-header-area {
        background-image: url("../images/bg-header-desktop.png");
        background-position: top center;
    }

    .feature-area {
        padding-top: 2.125rem;
    }

    .track,
    .access,
    .cta {
        width: 100%;
    }

    .right-content {
        flex-flow: wrap;
    }

    .search,
    .sync,
    .history {
        width: 70%;
    }

    .search {
        padding-top: 0;
    }

    .workflow {
        width: 100%;
    }

    .user-wrapper {
        margin: 0;
        padding: 0 0.5rem;
    }

    .footer-left {
        justify-content: flex-start;
        width: 20%;
    }

    .footer-center {
        align-self: flex-start;
        margin-right: auto;
        padding: 0;
        width: 50%;
    }

    .footer-right {
        margin-left: 5rem;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media screen and (min-width:768px) and (max-width: 991.98px) {
    .main-header-area {
        background-image: url("../images/bg-header-mobile.png");
        background-position: top right;
    }

    .intro-cta-area {
        padding-bottom: 0;
        padding-top: 3rem;
    }

    .intro-h1 {
        font-size: 1.667rem;
        margin: 0;
    }

    .cta-text {
        width: 100%;
        margin: 0 auto;
        font-size: 0.8333rem;
        text-align: center;
    }

    .cta-btn-links {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 0;
    }

    .ios {
        padding-bottom: 1.5rem;
        padding-right: 0;
    }

    .ios-btn {
        align-self: center;
    }

    .mac {
        padding: 0;
    }

    .mac-btn {
        align-self: center;
    }

    .feature-area {
        padding-top: 2.125rem;
    }

    .track,
    .access,
    .cta {
        width: 100%;
    }

    .access-image {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .left-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .left-content img {
        margin: 0 auto;
    }

    .right-content {
        width: 100%;
        margin: 2rem 0;
        flex-wrap: wrap;
        align-items: center;
    }

    .search,
    .sync,
    .history {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .workflow {
        width: 100%;
        margin: 0 auto;

    }

    .workflow-wrapper {
        flex-wrap: wrap;
        width: 60%;
        margin: 2rem 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .workflow-wrapper p {
        padding: 0;
        margin-top: 0;
    }

    .container#users {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .user-wrapper {
        align-self: center;
        margin: 2rem auto;
        flex-flow: row wrap;
    }

    .container#full-footer {
        display: none;
    }

    footer {
        overflow: visible;
    }

    .mobile-footer,
    .container#moile-footer {
        display: block;
    }

    .container#mobile-footer {
        display: block;
        width: 80%;
        height: 100%;
    }

    .mobile-top {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-center {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    .mobile-nav-link {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 400;
        color: hsl(210, 10%, 33%);
        box-sizing: border-box;
        line-height: 2.25rem;
    }

    .mobile-bottom {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-nav-link:hover {
        color: hsl(171, 66%, 44%);
    }

    .mobile-bottom a {
        text-decoration: none;
    }

    .mobile-bottom a i {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding: 0 .75rem;
        color: hsl(210, 10%, 33%);
    }

    .mobile-bottom a i:hover {
        color: hsl(171, 66%, 44%);
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media screen and (min-width: 575px) and (max-width: 767.98px) {
    .main-header-area {
        background-image: url("../images/bg-header-mobile.png");
        background-position: top center;
        padding-bottom: 2rem;
    }

    .intro-cta-area {
        padding-bottom: 0;
        padding-top: 2rem;
    }

    .intro-h1 {
        font-size: 1.667rem;
        margin: 0;
    }

    .cta-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .cta-text p {
        width: 100%;
        align-self: center;
    }

    .cta-btn-links {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 0;
    }

    .ios {
        padding-bottom: 1.5rem;
        padding-right: 0;
    }

    .ios-btn {
        align-self: center;
    }

    .mac {
        padding: 0;
    }

    .mac-btn {
        align-self: center;
    }

    .feature-area {
        padding-top: 2.125rem;
    }

    .container#feature {
        width: 90%;
    }

    .track,
    .access,
    .cta {
        width: 100%;
        flex-flow: row wrap;
    }

    .access-image {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .left-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .left-content img {
        margin: 0 auto;
    }

    .right-content {
        width: 100%;
        margin: 2rem 0;
        flex-wrap: wrap;
        align-items: center;
    }

    .search,
    .sync,
    .history {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .workflow {
        width: 100%;
        margin: 0 auto;

    }

    .workflow-wrapper {
        flex-wrap: wrap;
        width: 100%;
        margin: 2rem 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .workflow-wrapper p {
        padding: 0;
        margin-top: 0;
    }

    .container#users {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .user-wrapper {
        align-self: center;
        margin: 2rem auto;
        flex-flow: row wrap;
    }

    .container#full-footer {
        display: none;
    }

    footer {
        overflow: visible;
    }

    .mobile-footer,
    .container#moile-footer {
        display: block;
    }

    .container#mobile-footer {
        display: block;
        width: 80%;
        height: 100%;
    }

    .mobile-top {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-center {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    .mobile-nav-link {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 400;
        color: hsl(210, 10%, 33%);
        box-sizing: border-box;
        line-height: 2.25rem;
    }

    .mobile-bottom {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-nav-link:hover {
        color: hsl(171, 66%, 44%);
    }

    .mobile-bottom a {
        text-decoration: none;
    }

    .mobile-bottom a i {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding: 0 .75rem;
        color: hsl(210, 10%, 33%);
    }

    .mobile-bottom a i:hover {
        color: hsl(171, 66%, 44%);
    }
}

/*Small devices (landscape phones, less than 576px )*/
@media screen and (max-width: 480px) {
     .container#feature{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .container#workflow {
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .container#bottom_cta {
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .main-header-area {
        background-image: url("../images/bg-header-mobile.png");
        background-position: top right;
        height: 14rem;
    }

    .intro-cta-area {
        padding-bottom: 0;
    }

    .container#intro {
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .intro-h1 {
        width: 100%;
        align-self: center;
        flex-flow: row nowrap;
        text-align: center;
        font-size: 1.778rem;
        padding-bottom: 0;
    }

    .cta-text {
        display: flex;
        align-self: center;
        width: 100%;
        line-height: 1.625rem;
        padding: 1rem 0;
    }

    .cta-text p {
        font-size: 17px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .cta-btn-links {
        width: 90%;
        flex-flow: column wrap;
        padding-top: 1rem;
    }

    .ios {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        padding-right: 0;
    }

    .ios-btn {
        display: block;
        width: 100%;
        line-height: 2;
    }

    .mac {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .mac-btn {
        display: block;
        width: 100%;
        line-height: 2;
    }
   
    
    .feature-area {
        padding-top: 2.125rem;
    }

    .track-h2,
    .access-h2,
    .workflow-h2,
    .cta-h2 {
        flex-flow: row wrap;
        text-align: center;
        margin: 0 auto;
    }
    
    .track,
    .access,
    .cta {
        width: 90%;
        font-size: 16px;
    }
    .feature-center-content {
        padding-top: 2.6875rem;
    }
    .feature-p {
        font-size: 16px;
    }
    .access-image {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .left-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .left-content img {
        margin: 0 auto;
    }

    .right-content {
        width: 100%;
        margin: 2rem 0;
        flex-wrap: wrap;
        align-items: center;
    }

    .search,
    .sync,
    .history {
        width: 90%;
        text-align: center;
    }

    .workflow {
        width: 100%;
        margin: 0 auto;
    }

    .workflow-wrapper {
        flex-wrap: wrap;
        width: 100%;
        margin: 2rem 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .workflow-wrapper p {
        padding: 0;
        margin-top: 0;
    }

    .container#users {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .users-area {
        padding-top: 2.125rem;
        margin: 0 auto;
    }

    .user-wrapper {
        align-self: center;
        margin: 2rem auto;
        flex-flow: row wrap;
    }

    .container#full-footer {
        display: none;
    }

    footer {
        overflow: visible;
    }

    .mobile-footer,
    .container#moile-footer {
        display: block;
    }

    .container#mobile-footer {
        display: block;
        width: 80%;
        height: 100%;
    }

    .mobile-top {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-center {
        padding-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    .mobile-nav-link {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 400;
        color: hsl(210, 10%, 33%);
        box-sizing: border-box;
        line-height: 2.25rem;
    }

    .mobile-bottom {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .mobile-nav-link:hover {
        color: hsl(171, 66%, 44%);
    }

    .mobile-bottom a {
        text-decoration: none;
    }

    .mobile-bottom a i {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding: 0 .75rem;
        color: hsl(210, 10%, 33%);
    }

    .mobile-bottom a i:hover {
        color: hsl(171, 66%, 44%);
    }
}
