@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

/* font-family: 'Bai Jamjuree', sans-serif; */

/*Default CSS*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
}

h1, h2,h3,h4,h5,h6 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}
/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}